html {
	font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

body {
	background-image: url(../../img/home/spazio.jpg);
	background-attachment: fixed;
	background-size: 150%;
	margin: 0;
	overflow-y: scroll;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	transition: linear all 1s;
}

header {
	background: darkslateblue;
}

body > footer {
	background: darkslateblue;
	width: 100%;
}

button > img {
	height: 100%;
	width: 100%;
}

header > aside {
	float: left;
	width: 20%;
	padding: 3% 0 3% 4%;
}

header > p {
	width: 52%;
	margin-top: 0;
	margin-bottom: 0;
}

header > p > a > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	padding-top: 2%;
}

#nm_button {
	transition: linear all 1s;
}

header img {
    width: 20px;
    height: 20px;
}

header > aside, header > p, header > nav {
	display: inline-block;
}

header > nav {
	float: right;
	margin-left: 0;
	margin-right: 0;
	width: 20%;
	padding: 3% 4% 0 0;
}

header > nav > p {
	text-align: right;
	margin-top: 0;
}

footer > nav > p#socials  {
	text-align: center;
	padding-top: 1%;
	margin-bottom: 0;
	margin-top: 0;
}

footer > nav > p#socials > a > img {
	height: 30px;
	width: 30px;
	padding-top: 3%;
}

footer > nav {
	margin: 0 auto;
	padding: 0 20%;
}

footer > nav > p#last {
	text-align: center;
	padding-bottom: 3%;
	padding-top: 0;
	margin-bottom: 0;
	margin-top: 0;
}

footer{
	margin-top: auto;
}

footer > nav > p > a {
	padding: 0 4%;
}

header {
	margin-bottom: 0 !important;
}

#menu {
	display: none;
}

#menu > ul {
	margin: 0;
	list-style: none;
	padding: 5% 8%;
}

#menu a{
	text-decoration: none;
	text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
	color: rgb(211, 207, 146);
}

#menu a:hover{
	color: red;
}

header img, #nm_button img{
	height: 15px;
	width: 15px;
}

caption {
	display: none;
}

@media screen and (min-width: 769px){

	header{
		padding-bottom: 0;
	}

	header img, #nm_button img{
		height: 30px;
		width: 30px;
	}

	header > aside button{
		display: none;
	}

	#menu{
		display: inline;
	}

	#menu{
		background-color: darkslateblue;
	}

	#menu ul{
		padding: 1% 0 1% 0;
		text-align: center;
	}

	#menu button{
		height: 25px;
		width: 35px;
		background-size: cover;
	}

	#menu button img{
		height: 100%;
		width: 100%;
	}

	#menu ul li{
		width: 11.5%;
		display: inline-block;
		font-size: 12px;
	}

	#menu a{
		text-shadow: -1px 1px 1px rgb(0, 0, 0);
	}

	header > nav{
		padding: 2% 3% 0 0;
	}

	header > p > a > img {
		height: 50%;
		width: 50%;
	}

}
