article {
    background: lightsteelblue;
    margin: 5%;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
}

main a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

article p:not(:first-child) {
    font-size: 90%;
}

article p:first-child:hover {
    text-decoration: underline;
    color: blue;
}

article > p {
    padding: 5% 10%;
    font-size: 5;
}

main > article > h3 {
    display: none;
}

article > img {
    height: 20%;
    width: 20%;
    margin: 2%;
}

article img, article > div {
    display: inline-block;
}

main > footer button {
    background: orange;
}

footer > p {
    text-align: center;
    padding: 3% 0;
}

main > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

main > footer > p{
    font-size: 12px;
}

main > footer {
    background-color: lightsteelblue;
    margin: 5%;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
}

article > div {
    width: 60%;
    margin: 2% 0;
}
