article {
    background: lightsteelblue;
    margin: 5%;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
}

main a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

article p:not(:first-child) {
    font-size: 90%;
}

article p:first-child:hover {
    text-decoration: underline;
    color: blue;
}

article > p {
    padding: 5% 10%;
    font-size: 5;
}

article > img {
    height: 20%;
    width: 20%;
    margin: 2%;
}

article img, article > div {
    display: inline-block;
}

h1 {
    background-color: lightsteelblue;
    border-radius: 8px;
    margin: 5%;
    border: 1px solid black;
    border-collapse:collapse;
    padding-bottom: 1%;
}

main button {
    background: orange;
}

main > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

article > div {
    width: 60%;
    margin: 2% 0;
}

main > p, h1 {
    text-align: center;
}

#error {
    color: red;
}

section {
    text-align: center;
    background-color: lightsteelblue;
    border-radius: 8px;
    margin: 5%;
    padding: 3% 0;
    border: 1px solid black;
    border-collapse:collapse;
}

h2 {
    display: none;
}