main {
    margin: 0 5%;
    padding: 3%;
    font-size: 10.5px;
}

/* All tables */
main table {
    text-align: center;
    background: lightsteelblue;
    border-collapse: collapse;
    border-radius: 8px;
    table-layout: fixed;
    margin: auto;
    padding: 2%;
    width: 100%;
    border: 1px solid black;
}

main > table tr {
    border: 1px solid black;
}

.delete {
    background: red;
}

td {
    word-wrap: break-word;
}

button#f2512201 {
    background: rgb(25, 184, 25);
}

button#c2612201 {
    background: rgb(228, 18, 18);
}

form {
    padding: 2%;
}

form tr > td:first-child > input {
    text-align: center;
    background: orange;
    border-radius: 8px;
    margin-bottom: 1%;
}

@media screen and (max-width: 480px) {
	
	main > table > tbody > tr > td > button {
        font-size: 8px;
    }

    #place, #name, #date, .stepper {
        width: 50%;
    }

}

@media screen and (min-width: 769px) {
	
	main {
        font-size: 20px;
    }

}