h2 {
    text-align: center;
}

section {
    background: lightsteelblue;
    margin: 4%;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
}

section > h3 {
    text-align: center;
}

section > p {
    text-align: center;
}

section > form > p {
    text-align: center;
}

#errorelogin {
	color: red;
	font-weight: bold;
}