main > form {
    background-color: lightsteelblue;
    margin: 5%;
    padding: 2%;
    border-radius: 8px;
    text-align: center;
    border: 1px solid black;
    border-collapse:collapse;
}



main > form > div:nth-child(2) > input {
    width: 80px;
}

main > form > div:nth-child(3) > input {
    width: 20px;
}

main > form > div:nth-child(4) > input {
    width: 30px;
}

main button {
    background: orange;
    margin: 2%;
    margin-top: 10%;
    padding: 2%;
    border-radius: 8px;
    font-weight: bold;
    font-size: 110%;
}