main > article > img {
    width: 50%;
}

main > article {
    background: lightsteelblue;
    margin: 5%;
    padding: 3%;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 8px;
}

main > article > h3 {
    display: none;
}

main > article > p#titolo {
    width: 40%;
    vertical-align: top;
    margin-left: 5%;
}

main > article > p#titolo, main > article > img {
    display: inline-block;
}

main > article > p {
    margin-bottom: 0;
}

#rimasti {
    color: red;
}

#stepper > input {
    width: 100%;
}

#quantita, form > input {
    width: 20%;
    margin-right: 5%;
    display: inline-block;
}

#add_cart {
    text-align: center;
    padding: 0 30%;
}

main button {
    font-weight: bold;
    background: orange;
    text-align: center;
}