main > article > div > label, main > article > div > p {
    display: inline-block;
}

main > article > div > p {
    margin: 0;
}

main > article > img {
    height: 30%;
    width: 30%;
    background-color: aliceblue;
    border-radius: 45%;
}

main > p {
    text-align: center;
}

article {
    text-align: center;
    margin-top: 8%;
}

form {
    text-align: left;
}

form input {
    text-align: right;
}

main > p > button {
    font-size: 80%;
    font-weight: bold;
    background: orange;
}

article > div {
    margin: 1% 4%;
    padding: 1%;
    border-radius: 8px;
    background: aliceblue;
}

/* For profile labels */
div > label {
    font-weight: bold;
    font-size: 110%;
}

div > p {
    font-style: italic;
}

h2 {
    display: none;
}

/* For logout button */
#logout {
    width: 20%;
    height: 7%;
    background: red;
}

/* For logout button image */
#logout > img {
    height: 30%;
    width: 30%;
    padding: 10% 0 0 10%;
}

main {
    background: lightsteelblue;
    margin: 4%;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
}

@media screen and (min-width: 769px) {
    
    #infos {
        margin-top: 1%;
        width: 68%;
    }

    #imgsec, #infos {
        display: inline-block;
        vertical-align: middle;
    }

    #imgsec {
        width: 30%;
        height: 30%;
        margin-top: 0;
    }

    #imgsec > img {
        width: 150px;
        height: 150px;
    }

    #logout {
        height: 3%;
        width: 10%;
    }

}