main{
    font-size: 14px;
    margin: 3% 0;
}

body main h2{
    text-align: center;
}

body main section h3{
    text-align: center;
}

body main section p{
    text-align: center;
    width: 80%;
}

body main section p input{
    float: right;
    width: 50%
}

body main section p label{
    font-size: 90%;
}

body main section button{
    background-color: red;
    color: white;
    text-align: center;
    margin-left: 20%;
}

#tip {
    text-align: center;
    font-size: 70%;
    padding-left: 20%;
}

main > section {
    background: lightsteelblue;
    margin: 0 3%;
    border-radius: 8px;
    border: 1px solid black;
    border-collapse:collapse;
}
