main > div {
    margin: 3% 3%;
}

main {
    margin: 3% 0;
}

h3 {
    text-align: center;
    margin-top: 0;
}

main > div > article > img {
    height: 30%;
    width: 30%;
}

main > section > h2 {
    display: none;
}

main > div > article {
    background: lightsteelblue;
    margin: 0;
    padding: 5%;
    border-radius: 8px;
    vertical-align: middle;
}

div {
    text-decoration: none;
}

main > div > article:hover {
    background: burlywood;
}

article > div {
    width: 50%;
}

article > div > p {
    margin: 0;
    text-overflow: ellipsis;
}

article > div > p:nth-child(2) {
    color: red;
}

article > img, article > div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

article {
    border: 1px solid black;
    border-collapse:collapse;
}

section > div > label {
    display: none;
}

#d1, #d2 {
    display: inline-block;
    padding-bottom: 3%;
}

#selectors {
    background: lightsteelblue;
    border-radius: 8px;
    vertical-align: middle;
    margin: 2% 20%;
    border: 1px solid black;
    border-collapse:collapse;
    
}

main > section {
    text-align: center;
    vertical-align: middle;
}

#d1 {
    width: 35%;
    padding: 2% 0 2% 0;
}

#d2 {
    width: 35%;
    padding: 2% 0% 2% 0;
}

#categories, #sorting {
    width: 50%;
}

@media screen and (max-width: 480px) {
    #d1 {
        width: 45%;
    }
    
    #d2 {
        width: 45%;
    }
}

@media screen and (min-width: 769px) {

    #selectors {
        margin: 2% 30%;
    }

    main > div {
        width: 28.5%;
        margin: 2% 2%;
        display: inline-block;
        vertical-align: middle;
    }

    #d1 {
        width: 45%;
    }
    
    #d2 {
        width: 45%;
    }
}

form {
    background: lightsteelblue;
    margin: 5%;
    padding: 2%;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
}

form > table {
    margin: auto;
}

.delete {
    background: red;
}

.modify {
    background: orange;
}